h1{
    text-align: center;
}

.game-area{
    border: 1px solid black;
    border-radius: 10px;
    width: 50em;
    margin: 10px auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-area figure{
    margin: 10px auto;
    width: 70%;
}
.game-area figure img{
    width: 100%;
}

.game-pergunta{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
}
.hidden{
    border: 1px  dashed #000;
    border-radius: 10px;
    width: 8em;
    min-height: 1em;
    font-size: 2em;
    margin-bottom: 10px;
    text-align: center; 
}
.game-pergunta button {
    border-radius: 12px;
    width: 9em;
    margin: 0 5px; /* Adiciona um espaço entre os botões */
}

.game-resposta{
    margin: 10px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.game-resposta input{
    margin-left: 5px;
    border-radius: 10px;
}

